.BuildControl {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    align-items: center;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #536976;
    cursor: pointer;
    outline: none;    
}

.BuildControl button:disabled {
    background-image: linear-gradient(to right, #536976, #292E49);
    border: 1px solid #7E7365;
    color: #ccc;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #AC9980;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
    color: white;
}

.BuildControl .Less {  
    background-image: linear-gradient( to right, #ec008c,#fc6767); 
    color: white;
    border-radius: 5px;
}

.BuildControl .More {
    background-image: linear-gradient( to right, #1488CC,#2B32B2); 
    color: white;
    border-radius: 5px;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: #DAA972;
    color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: #99703F;
    color: white;
}